# {{ ansible_managed }}

MINIO_VOLUMES="{{ minio_datadirs | join(' ') }}"
MINIO_OPTS="--address {{ minio_addr }} {{ minio_opts }}"

{% if minio_access_key %}
MINIO_ACCESS_KEY="{{ minio_access_key }}"
{% endif %}
{% if minio_secret_key %}
MINIO_SECRET_KEY="{{ minio_secret_key }}"
{% endif %}
