# {{ ansible_managed }}

MINIO_VOLUMES="{{ minio_datadirs | join(' ') }}"
{% if minio_gcs_gateway == true %}
GOOGLE_APPLICATION_CREDENTIALS="{{ minio_gcs_credentials }}"
MINIO_OPTS="gcs {{ minio_gcs_project_id }} --address {{ minio_addr }} {{ minio_opts }}"
{% else %}
MINIO_OPTS="--address {{ minio_addr }} {{ minio_opts }}"
{% endif %}

{% if minio_access_key %}
MINIO_ACCESS_KEY="{{ minio_access_key }}"
{% endif %}
{% if minio_secret_key %}
MINIO_SECRET_KEY="{{ minio_secret_key }}"
{% endif %}
